{% extends 'category/base.html' %}
{% load static %}
{% block title %}
  Kosz
{% endblock %}

{% block content %}

{% block css %}
<style>

</style>
{% endblock %}
    <div class="container">
        <div class="row" style="margin-top: 6%">
        <h2>
            <span class="badge pull-right">
                {% with totail_items=cart|length %}
                    {% if cart|length > 0 %}
                        Lista zakupów :
                        <a href="{% url "cart:CartDetail" %}" style="color: #ffffff">
                            {{ totail_items }} item {{ totail_items|pluralize }}, {{ cart.get_total_price }}
                        </a>
                        {% else %}
                        Kosz jest pusty!
                    {% endif %}
                {% endwith %}
            </span>
        </h2>
        <table class="table  table-hover">
            <thead>
              <tr>
                <th scope="col">Obraz</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Ilość</th>
                <th scope="col">Usunąć</th>
                <th scope="col">Cena</th>
                <th scope="col">Cena lączna</th>
              </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                    {% with product=item.product  %}
                        <tr>
                            <th scope="row">
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{% if product.images %} {{ product.images.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..." style="height: 130px; width: auto">
                            </a>
                            </th>
                            <td>{{ product.name }}</td>
                            <td>
                            <form action="{% url "cart:CartAdd" product.id %}" method="post">
                                {% csrf_token %}
                                <span class="span-select"  style="display:inline-block">    
                                    {{ item.update_quantity_form.quantity }}
                                    {{ item.update_quantity_form.update }}
                                    <input type="submit" value="Zmień" class="btn btn-outline-info"style="margin-top:10%;">
                                </span>
                            </form>
                            </td>
                            <td>
                                <a href="{% url "cart:CartRemove" product.id %}">Usunąć</a>
                            </td>
                            <td> {{ item.price }}</td>
                            <td> {{ item.total_price }}</td>
                        </tr>
                    {% endwith %}
                {% endfor %}

                {% if cart.cupon %}
                <tr>
                    <td><b>Cena koncowa bez zniżki</b></td>
                    <td colspan="4"></td>
                    <td colspan="num"><b> {{ cart.getTotalPrice }}</b></td>
                </tr>
                <tr>
                <td>
                "{{cart.cupon.code}}" kupon na ({{ cart.cupon.discount }}% zniżki)
                </td>
                <td colspan="4"></td>
                    <td class="num discount">- {{ cart.getDiscount }} $</td>
                    </tr>
                    {% endif %}
                    <tr class="total">
                <td>Razem</td>
                <td colspan="4"></td>
                <td class="num">{{ cart.getTotalPriceAfterDiscount}} $</td>
                </tr>
            </tbody>
          </table>
        </tbody>
            </table>
               

        <p class="text-right">
            <a href="{% url "category:ProductList" %}" class="btn btn-outline-primary">Wroć do sklepu</a>
            <a href="{% url "orders:OrderCreate" %}" class="btn btn-primary">Zamówić</a>
        </p>

            <div class="cupon-block"> 
                <p class= "text-center">Kod kupona</p>
                <form action="{% url "cupons:apply"%}" method="post" style="margin-bottom:25px">
                 {{ cupon_aplly_form }}
                <input type="submit" class="btn btn-primary" value="Zatwierdzam">
                {% csrf_token %}
                </form> 
            </div>  
        </div>
    </div>
{% endblock %}