{% extends "category/base.html" %}
{% block title %}
  Kosz
{% endblock %}
{% block content %}
  <h1>Kosz</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>Zdęcie</th>
        <th>Produkt</th>
        <th>Ilość</th>
        <th>Usunuć</th>
        <th>All price</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{{ product.images.url }}" alt="" />
              </a>
            </td>
            <td>{{ product.name }}</td>
            <form action="{% url "cart:CartAdd" product.id %}" method="post" class="add">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                {% csrf_token %}
                  <input type="submit" value="Odswiez">
            </form>
            <td><a href="{% url 'cart:CartRemove' product.id %}">Usunuć</a></td>
            <td class="num">{{ item.price }} $</td>
            <td class="num">{{ item.total_price }} $</td>
          </tr>
        {% endwith %}
      {% endfor %}
        <tr class="total">
          <td>Total</td>
          <td colspan="4"></td>
          <td class="num">{{ cart.get_total_price }} $</td>
        </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url 'category:ProductList'%}" class="btn">Dalej</a>
    <a href="#" class="btn">Place</a>
  </p>
{% endblock %}
