{% extends "admin/base_site.html" %}

{% load static %}

{% block title %}
  Zamówienie {{ order.id }} {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">Strona głowna</a> ›
  <a href="{% url "admin:orders_order_changelist" %}">Zamówienia</a> ›
  <a href="{% url "admin:orders_order_change" order.id %}">Zamówienie {{ order.id }}</a> ›
  Rozszerz
</div>
{% endblock %}

{% block content %}
  <h1>Zamówienie {{ order.id }}</h1>
  <ul class="object-tools">
    <li>
      <a href="#" onclick="window.print()">Wydrukować zamówienie</a>
    </li>
  </ul>
  <table width="100%">
    <tr>
      <th>Dodan</th>
      <td>{{ order.created }}</td>
    </tr>
    <tr>
      <th>Klient</th>
      <td>{{ order.first_name }} {{ order.last_name }}</td>
    </tr>
    <tr>
      <th>E-mail</th>
      <td><a href="mailto:{{ order.email }}">{{ order.email }}</a></td>
    </tr>
    <tr>
      <th>Adres</th>
      <td>{{ order.address }}</td>
    </tr>
    <tr>
      <th>Cena końcowa</th>
      <td>{{ order.get_total_price }} $</td>
    </tr>
    <tr>
      <th>Status</th>
      <td>{% if order.paid %}Opłacone{% else %}Czeka na opłate{% endif %}</td>
    </tr>
  </table>

  <div class="module">
    <div class="tabular inline-related list-related">
      <table>
        <h2>Zamówienie</h2>
        <thead>
          <tr>
            <th>Produkt</th>
            <th>Cena</th>
            <th>Iliść</th>
            <th>Cena końcowa</th>
          </tr>
        </thead>
        <tbody>
          {% for item in order.items.all  %}
            <tr class="row{% cycle "1" "2" %}">
              <td>{{ item.product.name }}</td>
              <td>{{ item.price }} $</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.get_cost }} $</td>
            </tr>
          {% endfor %}
          <tr class="total">
            <td colspan="3">Razem</td>
            <td class="num">{{ order.get_total_price }} $</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}