{% extends "category/base.html" %}

{% block title %}
  Zamówenie
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
    
    <div class="col-4">
    <h1>Zamóweinie</h1>
    <h2>Formuliaż:</h2>
    <form class="order-form" action="." method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="submit" value="Отправить">
    </form>
  </div>

  <div class="col-8">
    <h2>Podsumowanie</h2>
    <ul>
      {% for item in cart  %}
        <li>
          {{ item.product.name }} | Ilość: {{ item.quantity }} | Cena: {{ item.total_price }}
        </li>
      {% endfor %}
      {% if cart.cupon %}
        <li>
        "{{ cart.cupon.code}}"(na {{ cart.cupone.discount }}% mnej)
        <span> - {{cart.getDiscount}}$. </span>
        </li>
        {% endif %}
    </ul>
    <p><strong>Razem:</strong> {{ cart.getTotalPriceAfterDiscount }}$.</p>
  </div>
  </div>
  </div>
{% endblock %}