{% extends 'category/base.html' %}
{% load static %}
{% block title %}
  {% if category %} {{ category.name }} {% else %} Sklep {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-4">
            <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/">Wszystko</a>
                    </li>
                    <br>
                {% for category in categories %}
                    <li class="list-group-item">
                        <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                    </li>
                {% endfor %}

            </ul>

        </div>

        <div class="col-8">
            {% for product in products %}
                <div class="card" >
                    <img class="card-img-top" src="{{product.images.url }}" alt="product image">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Węcej</a>
                    </div>
                </div>
            {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}
