{% extends 'category/base.html' %}
{% load static %}
{% block title %}
  {% if category %} {{ category.name }} {% else %} Sklep {% endif %}
{% endblock %}

{% block content %}

    <div class="container">
      <div class="row">
        <div class="col-3">
            <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/">Wszystko</a>
                    </li>
                    <br>
                {% for category in categories %}
                    <li class="list-group-item">
                        <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                    </li>
                {% endfor %}

            </ul>

        </div>
        
        <div class="col-9"> 
            <div class="container">
                <div class="row align-items-end">
    
                    {% for product in products %}
                        <div class="col-6">
                        <div class="card-group" style="margin-bottom: 20px;">
                            <a class="card" href="{{ product.get_absolute_url }}" style="padding:15px;border:none;">
                                <img class="card-img-top" src="{{product.images.url }}" alt="product image" style="max-height: 270px;">
                                    <div class="card-body">
                                           <h5 class="card-title" style="text-align:center;">{{product.name}}</h5>
                                   </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
